body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.colour{
    color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink, palevioletred);
    padding: 10px 40px;
    border-radius: 5px;
    color: snow;
    font-weight: 600;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.anderson{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.cricket{
    box-shadow: 10px 10px 40px green;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    border-radius: 10px;
}
h2{
    font-size: 40px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
#web-dev{
    border-left: 5px solid;
    border-image: linear-gradient(green, greenyellow);
    border-image-slice: 1;
}
#dev-web{
    border-left: 5px solid;
    border-image: linear-gradient(green, greenyellow);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}